@media (max-width: 1200px){

    html{
        font-size: 55%;
    }



    
}

@media (max-width: 991px){

    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }  
}
@media (max-width: 768px){

    .logo{
        font-size: 2.5rem;
    }
    .header{
        height: 5rem;
    }
    #menu-icon{
        display: block;
        
    } 
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home img{
        /* display: none; */
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content h2{
        text-align: center;
    }
    .about-content h3{
        text-align: center;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2.5rem;
      }

      .projects-box .projects-layer h4{
        font-size: 4rem;
      }
      .projects-box .projects-layer p{
        font-size: 1.5rem;
      }
    
    
}



@media (max-width:617px){
    .projects-container {

        grid-template-columns: repeat(1, 1fr);
        
      }
}
@media (max-width:320px){
  
    .social-media a{
        width: 3.5rem;
        height: 3.5rem;
    }
    .home-content h1{
        font-size: 2rem;
    }
    #element{
        font-size: 2rem;
      }

      
}